############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############
PROJECT_NAME=""
SPACE_URL=<YOUR_SPACE_URL>
SPACE_BUCKET=<YOUR_SPACE_NAME>
SPACE_ENDPOINT=<YOUR_SPACE_ENDPOINT>
SPACE_ACCESS_KEY_ID=<YOUR_ACCESS_KEY_ID>
SPACE_SECRET_ACCESS_KEY=<YOUR_SECRET_ACCESS_KEY>
MEILI_HOST="http://192.168.2.52:7700"
MEILI_MASTER_KEY=
MEILI_NO_ANALYTICS=true
MEILI_ENV=production
MEILI_DB_PATH=data.ms/
MEILI_PORT=7700
MEILI_PRODUCTS_SEARCHABLE_ATTRIBUTES="*"
MEILI_PRODUCTS_DISPLAYED_ATTRIBUTES="title description variant_sku thumbnail handle"
MEILI_PRODUCTS_FILTERABLE_ATTRIBUTES="type_value"
MEILI_PRODUCTS_SORTABLE_ATTRIBUTES=""
MEILI_PRODUCTS_PRIMARY_KEY="id"
MEILI_STOCK_LOCATIONS_SEARCHABLE_ATTRIBUTES="*"
MEILI_STOCK_LOCATIONS_DISPLAYED_ATTRIBUTES="*"
MEILI_STOCK_LOCATIONS_FILTERABLE_ATTRIBUTES="metadata"
MEILI_STOCK_LOCATIONS_SORTABLE_ATTRIBUTES="created_at"
MEILI_STOCK_LOCATIONS_PRIMARY_KEY="id"
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
MEDUSA_BACKEND_URL=
MEDUSA_JWT_SECRET=
MEDUSA_COOKIE_SECRET=
MEDUSA_ADMIN_CORS=
MEDUSA_STORE_CORS=
MEDUSA_AUTH_CORS="http://localhost:9000"
NOTIFICATION_TELEGRAM_BOT_TOKEN=""
POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q
REDIS_TLS=""
REDIS_PASSWORD=""
MINIO_ADDRESS=""
MINIO_ROOT_USER=""
MINIO_ROOT_PASSWORD=""
MILVUS_URI=""

GHOST_DB_PASSWORD=""

############
# Email templates
############
SENDGRID_API_KEY=""
SENDGRID_FROM=""
SENDGRID_ORDER_PLACED_ID=""
SENDGRID_ORDER_CANCELED_ID=""
SENDGRID_ORDER_SHIPPED_ID=""
SENDGRID_ORDER_RETURN_REQUESTED_ID=""
SENDGRID_ORDER_ITEMS_RETURNED_ID=""
SENDGRID_CLAIM_SHIPMENT_CREATED_ID=""
SENDGRID_SWAP_CREATED_ID=""
SENDGRID_SWAP_SHIPMENT_CREATED_ID=""
SENDGRID_SWAP_RECEIVED_ID=""
SENDGRID_GIFT_CARD_CREATED_ID=""
SENDGRID_CUSTOMER_PASSWORD_RESET_ID=""
SENDGRID_USER_PASSWORD_RESET_ID=""
SENDGRID_MEDUSA_RESTOCK_ID=""
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=test

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres

############
# Supavisor -- Database pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=your-tenant-id


############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000

# Email templates
MAILER_SUBJECTS_INVITE=
MAILER_SUBJECTS_CONFIRMATION="Confirm Your Email"
MAILER_SUBJECTS_RECOVERY="Recover Your Password"
MAILER_SUBJECTS_MAGIC_LINK=
MAILER_TEMPLATES_INVITE=https://example.com/path/to/your/invite/template.html
MAILER_TEMPLATES_CONFIRMATION=https://example.com/path/to/your/confirmation/template.html
MAILER_TEMPLATES_RECOVERY=https://example.com/path/to/your/password_reset/template.HTML
MAILER_TEMPLATES_MAGIC_LINK=https://example.com/path/to/your/magic_link/template.html

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender
ENABLE_ANONYMOUS_USERS=false

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project

STUDIO_PORT=3000

## Github
GOTRUE_EXTERNAL_GITHUB_ENABLED=false
GOTRUE_EXTERNAL_GITHUB_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_GITHUB_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_GITHUB_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Apple
GOTRUE_EXTERNAL_APPLE_ENABLED=false
GOTRUE_EXTERNAL_APPLE_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_APPLE_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_APPLE_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Azure
GOTRUE_EXTERNAL_AZURE_ENABLED=false
GOTRUE_EXTERNAL_AZURE_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_AZURE_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_AZURE_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Bitbucket
GOTRUE_EXTERNAL_BITBUCKET_ENABLED=false
GOTRUE_EXTERNAL_BITBUCKET_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_BITBUCKET_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_BITBUCKET_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Discord
GOTRUE_EXTERNAL_DISCORD_ENABLED=false
GOTRUE_EXTERNAL_DISCORD_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_DISCORD_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_DISCORD_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Facebook
GOTRUE_EXTERNAL_FACEBOOK_ENABLED=false
GOTRUE_EXTERNAL_FACEBOOK_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_FACEBOOK_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Gitlab
GOTRUE_EXTERNAL_GITLAB_ENABLED=false
GOTRUE_EXTERNAL_GITLAB_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_GITLAB_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_GITLAB_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Google
GOTRUE_EXTERNAL_GOOGLE_ENABLED=false
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_GOOGLE_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Keycloak
GOTRUE_EXTERNAL_KEYCLOAK_ENABLED=false
GOTRUE_EXTERNAL_KEYCLOAK_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_KEYCLOAK_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_KEYCLOAK_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Linkedin
GOTRUE_EXTERNAL_LINKEDIN_ENABLED=false
GOTRUE_EXTERNAL_LINKEDIN_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_LINKEDIN_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_LINKEDIN_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Notion
GOTRUE_EXTERNAL_NOTION_ENABLED=false
GOTRUE_EXTERNAL_NOTION_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_NOTION_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_NOTION_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Spotify
GOTRUE_EXTERNAL_SPOTIFY_ENABLED=false
GOTRUE_EXTERNAL_SPOTIFY_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_SPOTIFY_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_SPOTIFY_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Slack
GOTRUE_EXTERNAL_SLACK_ENABLED=false
GOTRUE_EXTERNAL_SLACK_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_SLACK_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_SLACK_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Twitch
GOTRUE_EXTERNAL_TWITCH_ENABLED=false
GOTRUE_EXTERNAL_TWITCH_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_TWITCH_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_TWITCH_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Twitter
GOTRUE_EXTERNAL_TWITTER_ENABLED=false
GOTRUE_EXTERNAL_TWITTER_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_TWITTER_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_TWITTER_REDIRECT_URI=http://localhost:8000/auth/v1/callback

## Workos
GOTRUE_EXTERNAL_WORKOS_ENABLED=false
GOTRUE_EXTERNAL_WORKOS_CLIENT_ID=myappclientid
GOTRUE_EXTERNAL_WORKOS_SECRET=clientsecretvaluessssh
GOTRUE_EXTERNAL_WORKOS_REDIRECT_URI=http://localhost:8000/auth/v1/auth/v1/callback

SUPABASE_PUBLIC_URL=http://localhost:8000
SUPABASE_URL="http://localhost:8000"

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

# Add your OpenAI API key to enable SQL Editor Assistant
OPENAI_API_KEY=

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false

############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=your-super-secret-and-long-logflare-key

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER
ENABLE_ANONYMOUS_USERS=false
