volumes/db/data
volumes/storage
volumes/milvus/rdb_data
volumes/milvus/rdb_data_meta_kv
volumes/etcd
volumes/nginx/**/*.conf
volumes/nginx/.htpasswd
volumes/nginx/*.crt
volumes/nginx/*.csr
volumes/nginx/*.key
volumes/nginx/*.pass
.env
test.http
docker-compose.override.yml
values-substituded.yaml
kubernetes/release
kubernetes/Chart.yaml
kubernetes/values.yaml